@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-regular.woff2') format('woff2'), url('../fonts/raleway-regular.woff') format('woff'), url('../fonts/raleway-regular.ttf') format('truetype'), url('../fonts/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*GREY COLOR = #a6a6a6;*/
/*Dark grey = #8c8c8c*/
/*green color = #00cc88;*/

header {
    font-family: ralewayregular;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
}
.main_width {
    width: 930px;
    margin: 0 auto;
}
.header__logo {
    float: left;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}
.header__logo span {
    color: #00cc88;
}
.nav {
    margin-top: 10px;
    float: right;
    width: 200px;
    font-size: 14px;
}
.nav ul li {
    display: inline-block;
    font-size: 12px;
    position: relative;
}
.nav>ul>li>ul {
    display: none;
    position: absolute;
}
#dropDown1 {
    position: absolute;
    margin-top: 15px;
    width: 200%;
    height: 80px;
    background-color: black;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    font-family: ralewayregular;
    line-height: 22px;
}
#dropDown2 {
    position: absolute;
    margin-top: 15px;
    width: 230%;
    height: 80px;
    background-color: black;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    font-family: ralewayregular;
    line-height: 22px;
    font-weight: bold;
}
.section1 {
    font-family: ralewayregular;
    margin: 10px 0;
    height: 400px;
    width: 100%;
    margin-bottom: 40px;
    vertical-align: top;
    z-index: 0;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}
.section1_gallery {
    display: inline-block;
    vertical-align: top;
    height: 400px;
    width: 400px;
    /*background-image: url("../images/black_chair.png");*/
    /*background-position: center center;*/

    margin-top: 60px;
}
.section1_gallery ul {
    list-style: none;
}
.section1_gallery li {
    display: none;
}
.section1_gallery .visible {
    display: inline-block;
}
.section1_text {
    display: inline-block;
    width: 400px;
    height: 400px;
    vertical-align: top;
    text-align: left;
    padding-right: 20px;
    margin-top: 90px;
}
.section1_text span {
    color: #00cc88;
}
.section1_text h1 {
    font-weight: bold;
    font-size: 40px;
}
.section1_text>button {
    border: 1px solid #00cc88;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    background-color: #00cc88;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-left: 40px;
}
#section1_left {
    vertical-align: top;
    display: inline-block;
    width: 40px;
    height: 300px;
    margin-left: 10px;
    font-size: 70px;
    color: #00cc88;
    font-weight: bold;
    padding-top: 150px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
#section1_right {
    vertical-align: top;
    display: inline-block;
    width: 40px;
    height: 300px;
    margin-right: 20px;
    font-size: 70px;
    color: #00cc88;
    font-weight: bold;
    padding-top: 150px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.section2 {
    font-family: ralewayregular;
    height: 400px;
    width: 100%;
}
.section2_box1 {
    display: inline-block;
    vertical-align: middle;
    font-family: ralewayregular;
    width: 300px;
    height: 250px;
    background-image: url("../images/box1_img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}
.section2_box1 #txt_box1 {
    display: block;
    margin-top: 180px;
    width: 100%;
    height: 60px;
    padding-left: 10px;
    font-family: ralewayregular;
    background-color: rgba(255, 255, 255, 0.3);
}
.hr_short {
    width: 50%;
    margin-top: 5px;
    border-width: 8px;
    border-color: #00cc88;
}
.section2_box2 {
    display: inline-block;
    vertical-align: middle;
    font-family: ralewayregular;
    width: 300px;
    height: 250px;
    background-image: url("../images/box2_img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}
.section2_box2 #txt_box2 {
    margin-top: 180px;
    width: 100%;
    height: 60px;
    padding-left: 10px;
    font-family: ralewayregular;
    background-color: rgba(255, 255, 255, 0.3);
}
.section2_box3 {
    display: inline-block;
    vertical-align: middle;
    font-family: ralewayregular;
    font-size: 14px;
    line-height: 1.5;
    width: 300px;
    height: 260px;
    border: 1px solid #d9d9d9;
    padding-top: 20px;
    text-align: left;
    padding-right: 2px;
    padding-left: 10px;
    margin-top: 37px;
}
.hr_long {
    width: 70%;
    margin-top: 5px;
    border-width: 8px;
    border-color: #00cc88;
}
.section3 {
    background-color: #f2f2f2;
    margin: 10px 0;
    height: 600px;
    width: 100%;
}
.cennik {
    width: 100%;
    height: 40px;
}
.section3 span {
    font-size: 18px;
    padding-top: 15px;
    padding-left: 15px;
}
.hr_3 {
    width: 300px;
    margin-top: 5px;
    border-width: 8px;
    border-color: #00cc88;
}
#circle_box1 {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 450px;
    border: 2px solid #d9d9d9;
    margin-right: 10px;
    margin-top: 60px;
}
#box1_circletop1 {
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    vertical-align: top;
    margin-left: 40%;
    margin-top: -40px;
    background-color: #f2f2f2;
}
#small_topcircle1 {
    width: 30px;
    height: 30px;
    vertical-align: top;
    border-radius: 50%;
    border: 1px solid #c2c2a3;
    margin-top: 13px;
    margin-left: 14px;
    background-color: #8c8c8c
}
#circle_box2 {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 450px;
    border: 2px solid #00cc88;
    margin-right: 10px;
    margin-top: 60px;
    background-color: #00cc88;
    color: white;
}
#box2_circletop2 {
    border: 1px solid #00cc88;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    vertical-align: top;
    margin-left: 40%;
    margin-top: -40px;
    background-color: #00cc88;
}
#small_topcircle2 {
    width: 30px;
    height: 30px;
    vertical-align: top;
    border-radius: 50%;
    border: 1px solid #00cc88;
    margin-top: 13px;
    margin-left: 14px;
    background-color: white;
}
#circle_box3 {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 450px;
    border: 2px solid #d9d9d9;
    margin-top: 60px;
}
#box3_circletop3 {
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    vertical-align: top;
    margin-left: 40%;
    margin-top: -40px;
    background-color: #f2f2f2;
}
#small_topcircle3 {
    width: 30px;
    height: 30px;
    vertical-align: top;
    border-radius: 50%;
    border: 1px solid #c2c2a3;
    margin-top: 13px;
    margin-left: 14px;
    background-color: #8c8c8c;
}
#plan1 {
    vertical-align: middle;
    width: 50%;
    height: 25px;
    margin-left: 70px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-family: ralewayregular;
    color: #00cc88;
    font-size: 18px;
}
#plan2 {
    vertical-align: middle;
    width: 54%;
    height: 25px;
    margin-left: 70px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-family: ralewayregular;
    color: white;
    font-size: 18px;
}
#plan3 {
    vertical-align: middle;
    width: 50%;
    height: 25px;
    margin-left: 70px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-family: ralewayregular;
    color: #00cc88;
    font-size: 18px;
}
#big_circle1 {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border: 3px solid #8c8c8c;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 85px;
    text-align: center;
    font-family: ralewayregular;
    padding-top: 20px;
    padding-right: 10px;
}
#big_circle1 #kolo1 {
    font-family: ralewayregular;
    color: #8c8c8c;
    font-weight: bold;
    font-size: 40px;
}
#big_circle1 #pod_kolem1 {
    font-family: ralewayregular;
    color: #8c8c8c;
    font-weight: bold;
    font-size: 18px;
}
#big_circle2 {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border: 3px solid #00cc88;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 85px;
    text-align: center;
    font-family: ralewayregular;
    background-color: white;
    padding-top: 20px;
    padding-right: 10px;
}
#big_circle2 #kolo2 {
    font-family: ralewayregular;
    color: #00cc88;
    font-weight: bold;
    font-size: 40px;
}
#big_circle2 #pod_kolem2 {
    font-family: ralewayregular;
    color: #00cc88;
    font-weight: bold;
    font-size: 18px;
}
#big_circle3 {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border: 3px solid #8c8c8c;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 85px;
    text-align: center;
    font-family: ralewayregular;
    padding-top: 20px;
    padding-right: 10px;
}
#big_circle3 #kolo3 {
    font-family: ralewayregular;
    color: #8c8c8c;
    font-weight: bold;
    font-size: 40px;
}
#big_circle3 #pod_kolem3 {
    font-family: ralewayregular;
    color: #8c8c8c;
    font-weight: bold;
    font-size: 18px;
}
#longbox1,
#longbox2,
#longbox3,
#longbox4,
#longbox5,
#longbox6,
#longbox7,
#longbox8,
#longbox9 {
    width: 100%;
    height: 35px;
    vertical-align: middle;
    font-weight: bold;
    color: #8c8c8c;
    font-family: ralewayregular;
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
}
#longbox1 {
    margin-top: 25px;
    background-color: #e6e6e6;
}
#longbox2 {
    background-color: white;
}
#longbox3 {
    margin-top: 25px;
    background-color: white;
}
#longbox4 {
    background-color: #e6e6e6;
}
#longbox5 {
    background-color: white;
}
#longbox6 {
    margin-top: 25px;
    background-color: #e6e6e6
}
#longbox7 {
    background-color: white;
}
#longbox8 {
    background-color: #e6e6e6;
}
#longbox9 {
    background-color: white;
}
#button1,
#button2,
#button3 {
    vertical-align: bottom;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #00cc88;
    text-align: center;
    font-family: ralewayregular;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
#button1 {
    margin-top: 102px;
    margin-left: 50px;
}
#button2 {
    margin-top: 67px;
    margin-left: 50px;
    background-color: white;
    color: #00cc88;
}
#button3 {
    margin-top: 30px;
    margin-left: 50px;
}
.section4 {
    margin: 10px 0;
    height: 600px;
    width: 100%;
}
.form_name {
    vertical-align: top;
    width: 50%;
    height: 50px;
    margin-top: 30px;
}
#text {
    width: 100%;
    height: 50px;
    font-family: ralewayregular;
    color: #a6a6a6;
    font-size: 20px;
}
#email {
    width: 50%;
    height: 50px;
    font-family: ralewayregular;
    color: #a6a6a6;
    font-size: 20px;
}
.form_message {
    width: 50%;
    height: 50px;
}
#message {
    width: 100%;
    height: 200px;
    font-family: ralewayregular;
    padding-bottom: 160px;
    color: #a6a6a6;
    font-size: 20px;
}
.copy_right {
    vertical-align: bottom;
    width: 50%;
    height: 50px;
    margin-top: 150px;
    color: #a6a6a6;
}
.right_side {
    float: right;
    width: 50%;
    height: 600px;
}
.slider {
    width: 50%;
    vertical-align: top;
    height: 210px;
    margin-top: 30px;
    margin-left: 130px;
    /*background-image: url("../images/red_chair.png");*/

    background-position: center center;
    background-repeat: no-repeat;
}
.slider ul {
    list-style: none;
}
.slider li {
    display: none;
}
.slider .visible {
    display: inline-block;
}
#nextPicture {
    float: right;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
#prevPicture {
    float: left;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.slider>button>span {
    font-size: 30px;
    font-family: ralewayregular;
    color: #00cc88;
    font-weight: bolder;
}
.form_tick {
    width: 100%;
    height: 60px;
    margin-left: 130px;
    margin-top: 30px;
}
.form_tick img {
    padding-left: 5px;
    padding-top: 5px;
    width: 48px;
    height: 40px;
}
#text_tick {
    padding-left: 5px;
    text-align: left;
    display: inline-block;
    color: #a6a6a6;
}
#right_side_button {
    width: 50%;
    height: 50px;
    margin-left: 140px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #00cc88;
    background-color: #00cc88;
    text-align: center;
    font-family: ralewayregular;
    color: white;
    font-size: 26px;
}
.logos {
    margin-left: 130px;
    margin-top: 60px;
    width: 100%;
    height: 35px;
    display: inline-block;
}
#logo_footer {
    float: right;
    width: 40%;
    height: 100%;
    padding-top: 5px;
    margin-right: 50px;
    color: #a6a6a6;
}
